# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
*.env/

# IDE specific files
.vscode/
.idea/

# Compiled Python files
*.pyc
*.pyo
__pycache__/

# Logs and databases
*.log
*.sqlite3

# Compiled C extensions
*.so

# Compiled extensions
*.dll
*.pyd
*.pyo

# Miscellaneous
.DS_Store
Thumbs.db
